.container > header {
	margin: 18px 0;
}

h1 {
	text-transform: lowercase;
	margin: 0;
}

h1 span {
	color: #acacac;
}

h2 {
	text-transform: lowercase;
	font-weight: normal;
	margin: 0 0 .3em 0;
}

h3 {
	margin: .6em 0 .3em 0;
	border-bottom: 2px solid #eee;
}

h4 ~ date {
	display: block;
}

address {
	margin-bottom: 0;
}

date {
	font-style: italic;
	margin: .5em 0;
	color: #aaa;
}

footer {
	margin-bottom: 17px;
	border: 0;
}

footer h4 {
	text-transform: lowercase;
}

footer ul {
	margin: 0;
	list-style: none;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}