@import '../components/bootstrap/less/bootstrap';

body {
    margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
}

h3 {
    font-size: 1.8em;
    margin-top: 0;
}

header {
    p {
        .lead;
        color: #888;
        margin: 20px 0;
    }

    i[class*="icon-"] {
        color: #0088cc;
    }
}

.skill {
    border-right: 6px solid #000;
    display: block;
    padding: 8px;
    position: relative;
    text-align: right;

    &:hover {
        text-decoration: none;
    }
}

.skill-1 {
    border-color: #111;
}

.skill-2 {
    border-color: #333;
}

.skill-3 {
    border-color: #555;
}

.skill-4 {
    border-color: #777;
}

.skill-5 {
    border-color: #999;
}

.skill-6 {
    border-color: #aaa;
}

.skill-7 {
    border-color: #ccc;
}

.skill-8 {
    border-color: #eee;
}